<%- include('header') -%>
		<h4>Nova Publicação</h4>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script>
				$(document).ready(function(){
				var counter =1;
				$("#adicionar").click(function(){
				if(counter<6)
				counter++;
				else{
				alert("Só 6 ficheiros permitidos");
				return false;
				}
				var novoFicheiro = $(document.createElement('div')).attr("id", 'pic' + counter);
				novoFicheiro.after().html('<label>Fotografia '+ counter + ' : </label>' + '<input type="file" name="pic' + counter + '" id="pic' + counter + '"class="w3-input w3-border"" >');
				novoFicheiro.appendTo("#fotos");
				});
				$("#remover").click(function(){
				if(counter==1){
				alert("Mínimo uma foto");
				return false;
				}
				$("#pic" + counter).remove();
				counter--;
				})
				})
			  </script>
			
		</header>
		<% 
					var d = new Date
					var hora = d.toUTCString() %>
		<form action='/pub' method='POST' enctype='multipart/form-data' >
			<fieldset>
				<legend>Info da publicação (preencha os campos que pretender):</legend>
				<input type='text' placeholder='Titulo' name='titulo'/><br>
				<input type='text' placeholder='Local' name='local'/><br>
				<textarea rows='5' cols='80' name='desc' placeholder='Descrição'></textarea><br>
				<input type='hidden' name='hora' value='<%= hora %>'/>
				<input type='hidden' name='tipo' value='Álbum Fotográfico'/>
			</fieldset>
			<fieldset id="fotos">
					<legend>Fotografias</legend>
					<input id="adicionar" type="button" value="+1"/>
					<input id="remover" type="button" value="-1"/>
					<div id="pic1">
					  <label>Fotografia 1:</label>
					  <input type="file" name="pic1" class="w3-input w3-border"/>
					</div>
				  </fieldset>
			<div align='right'>
			<a href='./..'><input type='button' value='Cancelar' class='w3-button w3-green' /></a> 
			<input type='submit' value='Publicar' class='w3-button w3-green' />
			</div>
			
		</form>
	</body>
</html>