<%- include('header') -%>
			<h4>Nova Publicação</h4>
		</header>
		<% 
					var d = new Date
					var hora = d.toUTCString() %>
		<form action='/pub' method='POST' >
			<fieldset>
				<legend>Info da publicação (preencha os campos que pretender):</legend>
				<input type='text' placeholder='Titulo' name='titulo'/><br>
				<input type='text' placeholder='Local' name='local'/><br>
				<textarea rows='5' cols='80' name='desc' placeholder='Descrição'></textarea><br>
				<input type='hidden' name='hora' value='<%= hora %>'/>
				<input type='hidden' name='tipo' value='Evento'/>
			</fieldset>
			<fieldset>
				<legend>Privacidade</legend>
				<input type="radio" name="priv" value="private" checked> Privado<br>
				<input type="radio" name="priv" value="public"> Público<br>
			</fieldset>
			<div align='right'>
			<a href='./..'><input type='button' value='Cancelar' class='w3-button w3-green' /></a> 
			<input type='submit' value='Publicar' class='w3-button w3-green' />
			</div>
		</form>
	</body>
</html>