<%- include('header') -%>
			<h4>Sign In</h4>
		</header>
		<%- messages('message.ejs', locals) %>
		<form action='/users/login' method='POST'>
			<fieldset>
				<input type='text' placeholder='Username' name='username'/><br>
				<input type='password' placeholder='Password' name='password'/><br>
			</fieldset>
			<div align='right'>
			<a href='./..'><input type='button' value='Cancelar' class='w3-button w3-blue' /></a> 
			<input type='submit' value='Login' class='w3-button w3-blue' />
			</div>
		</form>
	</body>
</html>