<%- include('header') -%>
			<h4>Página de Registo</h4>
		</header>
		<%- messages('message.ejs', locals) %>
		<form action='/users/register' method='POST'>
			<fieldset>
				<input type='text' placeholder='Nome' name='name'/><br>
				<input type='text' placeholder='Email' name='email'/><br>
				<input type='text' placeholder='Username' name='username'/><br>
				<input type='password' placeholder='Password' name='password'/><br>
				<input type='password' placeholder='Confirme Password' name='password2'/><br>
			</fieldset>
			<div align='right'>
			<a href='./..'><input type='button' value='Cancelar' class='w3-button w3-blue' /></a> 
			<input type='submit' value='Registar' class='w3-button w3-blue' />
			</div>
			
		</form>
	</body>
</html>